# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}-{branch}

# branches to build
branches:
  except:
    - gh-pages

pull_requests:
  do_not_increment_build_number: true

# Do not build on tags (GitHub and BitBucket)
skip_tags: true

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2015

# build cache to preserve files/folders between builds
cache:
  - C:\maven\
  - C:\Users\appveyor\.m2

os: Windows Server 2012

environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.7.0

install:
#  - cmd: erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'  -noshell
  - cmd: choco install maven -y -f

build_script:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

test_script:
  - mvn clean install -B -V

#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:
  - provider: Email
    to:
      - alejandro.rivera.lopez@gmail.com
    on_build_status_changed: true
