language: java

rvm:
 - 2.3

matrix:
  include:
  - os: osx           # OS X (10.9) which comes with Oracle's Java 1.7.0_45

env:
  global:
    - secure: "NHlk1hITp3ZP0TtXRHX1Jcpka00/KOPSemG8iCWDIyX/Vw+FzTj0pBprlzdKMndpLRN+NXcOLMl215wbYTbbIbg6vihsvM+zXBCfI38NpcD0Ty2ogbq6cDNbSYJX+AJNZ8PrI1K8NqHU6xMTck7JXjfGcF6/f2cP7Z/Ooc/OMVI6UbEuq7iKOrI+p65y//OzdBjV2pr+LeZbQM+hMgjvTxgB3+kR2OTqsy/NWaXPOz6zyFKMPhd3Bgw3WxdPnB/qG+34xQPX/Sy4O0kw6BCZBPMFZHUDcyQgVg6kgcuBbEE/kBYiSF/feFk/SkXgmBQypQ2LK/9Azg2gmurwEzuoKj18kQwloJFtWfeC7LcF+lUIRq/bK0i/+RAKi5lH3gOHlPgkef+qphvugJffwCJDY9S5aH2YwYMMmNkgr5/RraGCQ1GHV21IYctIn9wVFwWYbhTozDY17YtqV9cykZlxi3kX8IyHfjCIpyVhhzL8fy9gKA0ivDOuxePu1p2E9GLBrEhfzNpA1ksyvD3ftS/ADfWetYbh4bYfDRBMIAzGOxHK2Pr/TlB+8O3m48epO4sMA9dFCuxqdDaThjMgpw59uzIGeico0jrrevRdXZKYfxjN9pX7lQ9Bmi5fsS6xYIoioX7s0deFYdasHJhn2n8EYRfMR5PupXmKAzm2TXmJYys="
    - secure: "lv8LPy50bPDAO8GYwmgbolrn1hOnDqfX+ndiTDxhyWBlIPbpzWhF0ExA3KF0UuovumNUA2udqvPp3qhBrOVB2r+D4yEk0fypqDEUSDyCubhI8cm/uwXM7v80RsY8/r0gDgsAG87zhW9UYbyEO1h9O5QVjD9NY4FJG9NCKvKkq3RTTtfkkaoXnhyvyJwGPpHcw5L5gd8zTiz+XIFzbEb0X6Yl8GQDPMw4pRPbia/TJqUoMsipOZNIq3sUWgBgB1YS/FRGerT6ZbdCckUshQKI5i3uIimSVQhpmkRuOZPj/99HPQokXtgjyivEZgT2uYIIC+tFtu+C/2n+Y7KOldPidTBYC+x0yTF/erq96btsDkqfLfsxOKLw9tWhuQUkS0eWUc5lRkOrrDiEnqNlaaS7R+6xWGRv031900HEdKyMTXV5Y6kwUX9dYWhIVAcA2oGY81DCUS6YKUeXo1ZpbeT3jEo+D+qIA/rhX7t2HbO1kZSB/j3bkngY/q4B3RC4FJCA6EqR5hG9YYMGdYwJDY+nB+15RbKcezRBjy18vE6NeSdSZycCjCRlCmIGV98RhP3xkYsy0pDQpOqvN/7y7SGTo9DgGhedwUrVc23I+jSv7HMu2r2otm8Hopb7ILv+Zum1OWWen+w+6otZCAxDABhsmkwOhbDdbNMMPaMpajSfhnw="
    - secure: "cPjbqT32dyv3lrV5O1jreE6w72x+GKXlPIcWjpmFKE5tWuvfjD+4V87mMFeoXszHGRSe2xIR3xrC8hCaMbs9mB6dhAJhzPks/lxv2PumCFjxPoH0PFcWArMwRr5gGI+wy/Jfr4bjc6F8a1drtXTkAEWLZkIA7bDIUkBSuZOVwRuiyTdMDNFsS2LL41/xrun/Su2i7Q/x6846ShMEEMYm9lcUXOsgMBcDR54uG6LQ9xte3BUnZvWaHc+Xkqn5ck1u3veHONk6bfrIbOQcDqOKRdU7P1dAYw/BbKZ76aLjvfgCnAc60vgGT1WhEXe6x4I9DTGnfq9q0Vb3aW84vwYjylClrwWCtqA4eFFx8mU3fCNC0f8zhUD1vgkW/qxAPJiqOf4nt+mjv35kz/n9ry8mrxIN5T4ruTKNrxl25XB6Ni567xhPUEAfy4x2FCdFLfL7TzZfjWhal0A7P90qMnvftTLGlsLKjNGkBs3Y/W7hM3iqp6kG2v6mPL2PBF/Hdmt9DhW2MAC6Yf4Pc3ywRp62pCHyicuzqmGYtk0dulnYz0bsow/Agjub6X2b0BAHN3LkOCdfW16kH+o/UsqTskta/HEE45u2kQF86aOZvZTaKEvYgmYOCjeUYUgLCNBBVUxH0pmBiez25jKqOsvwt5/9WZbxi4zqejhd4Smkwmmwdqw="

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.embeddedrabbitmq

before_install:
  - brew update
  - brew install erlang      # Erlang 17 will be installed without even updating brew!
  - export JAVA_HOME="$(/usr/libexec/java_home -v 1.7)"    # Required by Maven
  - erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'  -noshell

script:
  - mvn clean install

after_success:
  - mvn deploy -DskipTests -s maven-settings.xml
  - mvn jacoco:report coveralls:report

notifications:
  email:
    recipients:
      - alejandro.rivera.lopez@gmail.com
    on_success: change
    on_failure: always
